<!-- Copyright (C) 2011 by Philippe Bourgau -->

<div id="search-panel">
  <% form_tag @search_url, :method => :get, :id => "search" do %>
    <%= text_field_tag "search[search_string]", nil, :size => 60 %></input>
    <%= submit_tag "Rechercher" %></input>
  <% end %>
</div>

<% unless @categories.empty? %>
 <div id="categories-panel">
    <% @categories.each do |category| %>
      <p><%= link_to h(category.name), @show_sub_category_url_options.merge(:id => category.id) %></p>
    <% end%>
  </div>
<% end %>

<div id="items-panel">
  <p><%= @items.count %> ingrédient(s)</p>

  <table>
    <% @items.each do |item| %>
      <tr>
        <td><img src="<%= item.image %>" /></td>
        <td><%=h item.name %></td>
        <td><%=h item.summary %></td>
        <td><%= item.price.to_s %>€</td>
        <td class="buy-button"><%= button_to h(@add_item_label), @add_item_url_options.merge(:id => item.id), @add_item_html_options %></td>
      </tr>
    <% end%>
  </table>
</div>
