<!-- Copyright (C) 2010, 2011 by Philippe Bourgau -->

<%
@body_id = 'cart'
@title = "Transfert du panier"
%>

<p>Votre panier a été transféré à '<%= @store.name %>'</p>
<% unless @report_notices.empty? %>
  <div class="notice">
       <% @report_notices.each do |notice| %>
         <p><%= notice %></p>
       <% end %>
  </div>
<% end %>

<form id="go-to-payment" action=<%= @store_logout_url %> >
  <input type="submit" value="<%= "Payer sur #{@store.name}" %>" />
</form>

<!-- should be removed with navigation bar -->
<p><%= link_to 'Retour au panier', {:controller => 'cart'}%></p>
