<%= render(:partial => "shared/html_body_header_1") %>
        <a href="http://www.mes-courses.fr/" id="place-presentation" onclick="_gaq.push(['_link', 'http://www.mes-courses.fr']); return false;">A propos</a>
        <span class="separator"> | </span>
        <a href="http://www.mes-courses.fr/blog" id="place-blog" onclick="_gaq.push(['_link', 'http://www.mes-courses.fr/blog']); return false;">Blog</a>
        <span class="separator"> | </span>
        <%= link_to 'Recettes', dishes_path, :id => 'place-dish' %>
        <span class="separator"> | </span>
        <%= link_to 'Ingrédients', item_categories_path, :id => 'place-items' %>
        <span class="separator"> | </span>
        <%= link_to 'Panier', cart_lines_path, :id => 'place-cart' %>
        <span class="separator"> | </span>
        <%= link_to @session_place_text, @session_place_url, id: 'place-session' %>
<%= render(:partial => "shared/html_body_header_2") %>
