<!-- Copyright (C) 2013 by Philippe Bourgau -->

<p>Votre panier a été transféré à '<%=h @order.store.name %>'</p>
<% unless @order.warning_notices.empty? %>
  <div class="warning">
       <% @order.warning_notices.each do |notice| %>
         <p><%=h notice %></p>
       <% end %>
  </div>
<% end %>

<form action="<%= @order.store_login_url %>" method="post" target="_blank">
  <% @store_login_parameters.each do |parameter| %>
    <input name="<%= parameter['name'] %>" value="<%= parameter['value'] %>" type="hidden"/>
  <% end %>
  <input id="go-to-payment" value="Connectez-vous sur <%= @order.store_name %> pour payer" type="submit" />
</form>

