<!-- Copyright (C) 2011 by Philippe Bourgau -->

<% @title = @item_category.name %>

<div class="search-panel">
  <form id="search" method="post" action="<%= any_item_category_path(@item_category) %>" >
    <input name="search[keywords]" type="text" size="60" />
    <input type="submit" value="Rechercher"/>
  </form>
</div>

<ul>
  <% @item_category.children.each do |category| %>
    <li><%= link_to category.name, item_category_path(category) %></li>
  <% end%>
</ul>

<table>
  <% @item_category.items.each do |item| %>
    <tr>
      <td><img src="<%= item.image %>" /></td>
      <td><%=h item.name %></td>
      <td><%= item.summary %></td>
      <td><%= item.price.to_s %>€</td>
      <td class="buy-button"><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_item', :id => item.id }%></td>
    </tr>
  <% end%>
</table>

