<!-- Copyright (C) 2011 by Philippe Bourgau -->

<% @title = @title %>

<div class="search-panel">
  <% form_tag @search_url, :method => :get, :id => "search" do %>
    <%= text_field_tag "search[keyword]", nil, :size => 60 %></input>
    <%= submit_tag "Rechercher" %></input>
  <% end %>
</div>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, item_category_path(category) %></li>
  <% end%>
</ul>

<table>
  <% @items.each do |item| %>
    <tr>
      <td><img src="<%= item.image %>" /></td>
      <td><%=h item.name %></td>
      <td><%= item.summary %></td>
      <td><%= item.price.to_s %>€</td>
      <td class="buy-button"><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_item', :id => item.id }%></td>
    </tr>
  <% end%>
</table>

