<h1><%= @item_category.name %></h1>

<table>
  <% @item_category.children.each do |item_category| %>
    <tr>
      <td>
	<div><%= link_to item_category.name, item_category_path(item_category) %></div>
      </td>
    </tr>
  <% end%>
</table>

<table>
  <% @item_category.items.each do |item| %>
    <tr>
      <td>
        <div><img src="<%= item.image %>"/></div>
        <div><%=h item.name %></div>
        <div><%= item.summary %></div>
        <div><%= item.price.to_s %>€</div>
        <div><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_item_to_cart', :id => item.id }%></div>
      </td>
    </tr>
  <% end%>
</table>

