<% @title = @item_category.name %>

<ul>
  <% @item_category.children.each do |item_category| %>
    <li><%= link_to item_category.name, item_category_path(item_category) %></li>
  <% end%>
</ul>

<table>
  <% @item_category.items.each do |item| %>
    <tr>
      <td><img src="<%= item.image %>" /></td>
      <td><%=h item.name %></td>
      <td><%= item.summary %></td>
      <td><%= item.price.to_s %>€</td>
      <td class="buy-button"><%= link_to 'Ajouter au panier', {:controller => 'cart', :action => 'add_item', :id => item.id }%></td>
    </tr>
  <% end%>
</table>

