<!-- Copyright (C) 2010, 2011 by Philippe Bourgau -->

<div class="section">
  <span class="section-title">Produits</span>
  <table>
    <% @cart.lines.each do |line| %>
      <tr>
        <!-- use number_to_currency with valid settings to write the € string correctly -->
        <td><%= line.quantity %> x </td><td><%=h line.name %></td><td><%= line.price %>€</td>
      </tr>
    <% end %>
    <tr>
      <td></td><td>Total</td><td><%= @cart.total_price %>€</td>
    </tr>
  </table>
  <%= button_to 'Vider le panier', destroy_all_cart_lines_path, :method => 'delete' %>
</div>


<% @stores.each do |store| %>
  <div class="section">
    <span class="section-title">Passer cette commande sur <%=h store.name %></span>
    <p> Entrez vos identifiant et mot de passe <%=h store.name %></p>
    <% form_for :store, :url => https_url_for(:controller => 'orders', :action => 'create', :store_id => store.id, :cart_id => @cart.id), :html => {:class => "store-login"} do |form| %>
      <span>Identifiant:</span>
      <%= form.text_field "login", :size => 40 %> </input>
      <span>Mot de passe:</span>
      <%= form.password_field "password", :size => 20 %> </input>
      <%= submit_tag "Transférer le panier" %> </input>
    <% end %>
  </div>
<% end %>



