# -*- coding: utf-8 -*-
<!-- Copyright (C) 2010, 2011, 2012, 2013 by Philippe Bourgau -->

<div class="section">
  <span class="section-title">Recettes</span>
  <table id="dish-panel">
    <% @cart.dishes.each do |dish| %>
      <tr>
        <td><%= link_to h(dish.name), dish_path(dish) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="section">
  <span class="section-title">Produits</span>
  <table>
    <% @cart.lines.each do |line| %>
      <tr>
        <!-- use number_to_currency with valid settings to write the € string correctly -->
        <td><%= line.quantity %> x </td>
        <td><%=h line.name %></td>
        <td><%= line.price %>€</td>
      </tr>
    <% end %>
    <tr>
      <td>Total</td><td></td><td><%= @cart.total_price %>€</td>
    </tr>
  </table>
  <%= button_to 'Vider le panier', destroy_all_cart_lines_path, method: 'delete', data: { confirm: "Tout le contenu de votre panier sera perdu." } %>
</div>


<% @stores.each do |store| %>
  <div class="section">
    <span class="section-title">Passer cette commande sur <%=h store.name %></span>
    <p> Entrez vos identifiant et mot de passe <%=h store.name %></p>
    <form accept-charset="UTF-8" action="<%= url_for(:controller => 'orders', :action => 'create', :store_id => store.id, :cart_id => @cart.id) %>" class="store-login" method="post">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden" value="<%= session[:_csrf_token] %>">
      </div>

      <% store.login_parameters().each do |param| %>
        <% if ![store.login_parameter, store.password_parameter].include?(param['name']) %>
          <input name="<%= param['name'] %>" value="<%= param['value']%>" type="hidden">
        <% end %>
      <% end %>

      <span>Identifiant:</span>
      <input id="store_login" name="<%= store.login_parameter %>" size="40" type="text">

      <span>Mot de passe:</span>
      <input id="store_password" name="<%= store.password_parameter %>" size="20" type="password">

      <Input name="commit" type="submit" value="Transférer le panier">
    </form>
  </div>
<% end %>



