<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>www.mes-courses.fr/store - Boutique</title>
    <meta name="description" content="Boutique d'alimentation en ligne intelligente" />
    <% if !!@auto_refresh %>
      <meta http-equiv="refresh" content="3" />
    <% end %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render(:partial => "shared/html_head_content") %>
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css" name="app stylesheet" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21582740-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>

  <body id="<%= @body_id %>">
    <%= render(:partial => "shared/html_body_header") %>

    <% if @path_bar %>
      <div id="path-bar">
        <% @path_bar.each do |path_element| %>
          <% if !path_element.instance_of? Array %>
            <a><%=h path_element %></a>
          <% else %>
            <%= link_to h(path_element[0]), *path_element.slice(1..-1) %>
          <% end %>
          <span>&gt;</span>
        <% end %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="notice" ><p><%= flash[:notice] %></p></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert" ><p><%= flash[:alert] %></p></div>
    <% end %>

    <%= yield :layout %>

    <%= render(:partial => "shared/html_body_footer") %>
  </body>

    <%= yield %>

  </body>
</html>
