<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>www.mes-courses.fr/store - Boutique</title>
    <meta name="description" content="Boutique d'alimentation en ligne intelligente" />
    <%= render(:partial => "shared/html_head_content") %>
  </head>

  <body id="<%= @body_id %>">
    <%= render(:partial => "shared/html_body_header") %>

    <% if @title %>
      <h2><%= @title %></h2>
    <% end %>

    <% if flash[:notice] %>
      <div class="notice" ><p><%= flash[:notice] %></p></div>
    <% end %>

    <%= yield :layout %>

    <%= render(:partial => "shared/html_body_footer") %>
  </body>

</html>
