<% content_for :nested_layout do %>
  <div id="blog-posts">
  <%= yield %>
  </div>
  <div id="blog-sidebar">

    <div id="about" class="sidebar-section">
      <h2>A propos de ce blog</h2>
      <p>Notre blog est régulièrement mis à jour avec des recettes, des techniques et des astuces de cuisine qui vous feront gagner du temps. N'hésitez pas à venir partager les vôtres avec nous !</p>
    </div>

    <div id="tags" class="sidebar-section">
      <% tag_cloud(@tags, (1..6).map {|i| "size#{i}" }) do |tag, css_class| %>
        <%= link_to tag.name, blog.tagged_blog_posts_path(tag.name), :class => css_class %>
      <% end %>
    </div>

    <%= render "shared/blog_subscription" %>

    <div id="archive" class="sidebar-section">
      <h2>Anciens articles</h2>
      <%= blog_posts_archive_tag('archive-year', 'archive-month', 'archive-post') {|post| link_to(post.title, blog.post_path(post)) } %>
    </div>

  </div>
<% end %>

<%= render template: "layouts/application" %>
